/* ================= ADS  ==================== */
.ads{
  margin:0 auto;
  text-align: center;
}
.square{
  width: 250px; height: 250px;
}
.small-square{
  width: 200px; height: 200px;
}
.banner{
  width:468px; height:60px;
}
.banner-article{
  margin-bottom: 20px;
}
.leaderboard{
  width: 728px; height: 90px;
}
.fullboard{
  width:1090px; height:110px;
}
.inline-rectangle{
  width: 300px; height: 250px;
}
.large-rectangle{
  width: 336px; height: 280px;
}
.skyscraper{
  width: 120px; height: 600px;
}
.wide-skyscraper{
  width: 150px; height: 600px;
}